.incomeCard {
  background: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  
  font-family: Roboto, sans-serif;
  color: black;
  text-align: left;
}

.incomeCard h3 {
  margin-bottom: 0rem;
}

.incomeCard p {
  font-size: 1.4rem;
  font-weight: bold;
}
