.wrapper {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin-top: 5rem;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  
}

.chartArea {
  flex: 1;
  display: flex;
  flex-direction: column; /* <stack vertically */
  align-items: center;
  gap: 2rem; /* spacing between pie and bar */
  margin-top: 4rem;
}

.wrapper select {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: 1.5px solid #b0a9c9; /* pale purple-gray */
  background-color: #e9e7f3; /* pale purple-gray background */
  color: #4a3f7a;
  font-weight: 600;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

