.container {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9349e2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
